<form class="ui form" action="/dashboard/{{member.id}}/bookassessment" method="POST">
  <div class="three fields" name="bookingForm">
    <div class="field">
      <label>&nbsp; &nbsp; &nbsp;Date</label>
      <input placeholder="Date" type="date" name="bookDate">
    </div>
    <div class="field">
      <label>&nbsp; &nbsp; &nbsp; Time</label>
      <input placeholder="Time" type="time" name="bookTime">
    </div>
    <div class="field">
      <label>&nbsp; &nbsp; &nbsp; Trainer</label>
      <select name="bookedTrainer" class="ui fluid dropdown">
        <option value="" hidden>Pick a trainer</option>
        {{#each trainerList}}
          <option value="{{id}}">{{firstname}} {{lastname}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  <button class="ui blue submit button">Submit</button>
  <div class="ui error message"></div>
  <script>
    $('.dropdown').dropdown();

    $.fn.form.settings.rules.isBooked = function() {

      const bookedDate = new Date( document.getElementsByName("bookDate")[0].value + " " + document.getElementsByName("bookTime")[0].value);
      const trainerid = document.getElementsByName("bookedTrainer")[0].value;
      let trainerList = [{{{json trainerList}}}];

      for(let i = 0; i < trainerList[0].length; i++){
        console.log(trainerList[0][i].id === trainerid);
        if(trainerList[0][i].id === trainerid){
          console.log(trainerList[0][i].bookings);
          for(let k= 0; k < trainerList[0][i].bookings.length; k++){
            console.log(trainerList[0][i].bookings[k].date);
            console.log(bookedDate);
            if(trainerList[0][i].bookings[k].date === bookedDate.toString()){
              notBooked = false;
              console.log(bookedDate);
              return false;
            }
          }
        }
      }
      return true;
    };

    $('.ui.form').form({
      fields: {
        bookDate: {
          identifier  : 'bookDate',
          rules: [
            {
              type   : 'isBooked',
              prompt : 'Trainer is not available at that time.'
            }
          ]
        },
        bookTime: {
          identifier: 'bookTime',
          rules: [
            {
              type: 'isBooked',
              prompt : 'Please select another day/time'
            }
          ]
        }
      }
    });
  </script>
</form>