<div class="ui two column">
  {{#each class.lessonList}}
    <form class="ui form" action="/classes/setlesson/{{../class.classid}}/{{this.lessonid}}" method="POST">
      <table class = "ui table">
        <thead>
        <tr>
          <th class="six wide">Dates</th>
          <th class="six wide">Availability</th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><input placeholder="Date" value="{{shortDate date}}" type="date" name="lessonDate"></td>
          <td id="attendance{{lessonid}}">
            <script>
              document.getElementById("attendance{{lessonid}}").textContent = ({{../class.maxMembers}} - {{memberList.length}}) + ' spaces remaining';
            </script>
          </td>
          <td style="float: right;"><button class="ui blue submit button">Update</button></td>
          <td><a href="/classes/remlesson/{{../class.classid}}/{{this.lessonid}}" class="ui red icon button"><i class="trash icon"></i></a></td>
        </tr>
        </tbody>
      </table>
      <div class="ui error message"></div>
    </form>
  {{/each}}
</div>
