{{#each classList}}
  <div class="ui equal width padded raised segment grid">
    <div class = "four wide column middle aligned grid">
      <img class="ui fluid image" src="{{this.img}}">
    </div>
    <div class = "six wide column grid">
      <h2>{{this.difficulty}} {{this.name}}</h2>
      <div class="ui divider"></div>
      <p>
        {{this.bio}}
      </p>
    </div>
    <div class = "six wide middle aligned column padded">
      <br>
      <table class="ui celled striped table">
        <thead>
        <tr><th colspan="3">
          Details
        </th></tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <b>Difficulty</b>
          </td>
          <td>{{this.difficulty}}</td>
        </tr>
        <tr>
          <td>
            <b>Duration</b>
          </td>
          <td>{{this.duration}}mins</td>
        </tr>
        </td>
        <tr>
          <td>
            <b>Length</b>
          </td>
          <td>{{this.weeks}} weeks</td>
        </tr>
        <tr>
          <td class="collapsing">
            <b>Times</b>
          </td>
          <td>
            {{#each days}}
              {{this}}
              <br>
            {{/each}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class = "sixteen wide column padded">
      <h2>Enrollment</h2>
      <table class="ui single line table">
        <thead>
        <tr>
          <th class="seven wide">Dates</th>
          <th class="six wide">Availability</th>
          <th>Attend</th>
        </tr>
        </thead>
      </table>
      <div class="ui fluid menu" style="overflow:auto;max-height:239px;">
        <table class="ui single line table">
          <tbody>
          <tr>
            <td class="seven wide">
              All Classes
            </td>
            <td>
            </td>
            <td>
              <button class="ui blue button" id="allClasses{{this.classid}}" style="float: left;" onclick="window.location='/classes/{{this.classid}}/fullEnroll'">All</button>
              <button class="ui red icon button" id="noClasses{{this.classid}}" style="display: none; float: left;" onclick="window.location='/classes/{{this.classid}}/fullUnenroll'"><i class="delete icon"></i></button>
              <script type="text/javascript">
                if({{../user.trainer}}){
                  document.getElementById("allClasses{{this.classid}}").className = "ui disabled button";
                }
                else if({{checkAllMemLessons this.lessonList ../user.id}}){
                  document.getElementById("noClasses{{this.classid}}").style.display = "block";
                  document.getElementById("allClasses{{this.classid}}").className = "ui disabled button";
                }
                else if({{checkAllLessons this}}){
                  document.getElementById("allClasses{{this.classid}}").className = "ui red disabled icon button";
                  document.getElementById("allClasses{{this.classid}}").textContent = "Full";
                }
              </script>
            </td>
          </tr>
          {{#each lessonList}}
            <tr>
              <td>
                {{this.date}}
              </td>
              <td  class="six wide" id="attendance{{this.lessonid}}">
                <script>
                  document.getElementById("attendance{{this.lessonid}}").textContent = ({{../maxMembers}} - {{this.memberList.length}}) + ' spaces remaining';
                </script>
              </td>
              <td class="four wide">
                <button class="ui blue icon button" id="lessonButton{{this.lessonid}}" style="float: left;" onclick="window.location='/classes/{{../this.classid}}/enroll/{{this.lessonid}}'">Enroll</button>
                <button class="ui red icon button" id="noLesson{{this.lessonid}}" style="display: none; float: left;" onclick="window.location='/classes/{{../this.classid}}/unenroll/{{this.lessonid}}'"><i class="delete icon"></i></button>
                <script type="text/javascript">

                  if({{../../user.trainer}}){
                    document.getElementById("lessonButton{{this.lessonid}}").className = "ui disabled button";
                  }
                  else if({{checkLesson this.memberList ../../user.id}} >= 0){
                    document.getElementById("noLesson{{this.lessonid}}").style.display = "block";
                    document.getElementById("lessonButton{{this.lessonid}}").className = "ui disabled icon button";
                  }
                  else if({{../maxMembers}} - {{this.memberList.length}} === 0){
                    document.getElementById("lessonButton{{this.lessonid}}").className = "ui red disabled icon button";
                    document.getElementById("lessonButton{{this.lessonid}}").textContent = "Full";
                  }
                </script>
              </td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <br>
{{/each}}