{{#each classList}}
  <div class="ui relaxed divided list stacked segment">
  <div class="image">
      {{#if this.img}}{{}}
          <img src="{{this.picture}}">
        {{break}}
      {{/if}}
  </div>
  <div class="content">
    <a class="header">{{this.name}}</a>
    <table class="ui celled striped table">
      <thead>
      <tr><th colspan="2">
        Details
      </th>
      </tr></thead>
      <tbody>
      <tr>
        <td class="collapsing">
          Duration
        </td>
        <td>{{this.duration}}</td>
      </tr>
      <tr>
        <td>
          Max Members
        </td>
        <td>{{this.capacity}}</td>
      </tr>
      <tr>
        <td>
          Difficulty
        </td>
        <td>{{this.difficulty}}</td>
      </tr>
      <tr>
        <td>
          Length
        </td>
        <td>{{this.weeks}} weeks</td>
      </tr>
      <tr>
        <td>
          Times
        </td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
  </div>
{{/each}}