{{#each classList}}
  <div class="ui equal width padded raised segment grid">
    <div class = "four wide column middle aligned grid">
      <img class="ui fluid image" src="{{this.img}}">
    </div>
    <div class = "six wide align right column padded">
      <h2>{{this.difficulty}} {{this.name}}</h2>
      <table class="ui celled striped table">
        <thead>
        <tr><th colspan="3">
          Details
        </th></tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <b>Difficulty</b>
          </td>
          <td>{{this.difficulty}}</td>
        </tr>
        <tr>
          <td>
            <b>Duration</b>
          </td>
          <td>{{this.duration}}mins</td>
        </tr>
        <tr>
          <td class="collapsing">
            <b>Availability</b>
          </td>
          <td id="spaces{{this.classid}}">
            <script>
              document.getElementById("spaces{{this.classid}}").textContent = ({{this.maxMembers}} - {{this.currMembers}}) + ' spaces remaining';
            </script>
        </tr>
          </td>
        <tr>
          <td>
            <b>Length</b>
          </td>
          <td>{{this.weeks}} weeks</td>
        </tr>
        <tr>
          <td>
            <b>Times</b>
          </td>
          <td>
            {{#each dayTime}}
              {{this.time}} {{this.day}}
              <br>
            {{/each}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class = "six wide align right column padded">
      <h2>Enrollment</h2>
      <table class="ui celled striped table">
        <thead>
        <tr><th colspan="3">
          <br>
        </th></tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <b>All Classes</b>
          </td>
          <td>
            <button class="ui blue button" id="enrollButton{{this.classid}}" onclick="window.location='/classes/{{this.classid}}/fullEnroll'">Enroll</button>
            <script type="text/javascript">
              if(({{this.maxMembers}} - {{this.currMembers}}) === 0){
                document.getElementById("enrollButton{{this.id}}").className = "ui red disabled button";
                document.getElementById("enrollButton{{this.id}}").textContent = "Full";
              }
            </script>
          </td>
        </tr>
        <tr>
          <td class="collapsing">
            <b>Specific Class</b>
          </td>
          <td>
            <select class="ui fluid search dropdown" name="day">
              <option value="">Select a Day</option>
              {{#each dayTime}}
                <option value="">{{this.time}} {{this.day}}</option>
              {{/each}}
            </select>
          </td>
          <td>
            <button class="ui primary button"> OK </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <br>
{{/each}}