<table class = "ui table" id="goalListTable">
  <thead>
  <tr>
    <th class="collapsing">Status</th>
    <th>Date</th>
    <th>Weight</th>
    <th>Chest</th>
    <th>Thigh</th>
    <th>Arm</th>
    <th>Waist</th>
    <th>Hips</th>
    <th>Comments</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  {{#each goallist}}
    <tr>
      <td class="collapsing">
        <a class="ui ribbon label" id="checkStatus{{goalid}}"><i class="hourglass full icon"></i> Ongoing</a>
        <a class="ui blue ribbon label" onclick="window.location='/dashboard/{{../member.id}}/addbooking'" id="pendingStatus{{goalid}}" style="float: left;display: none;"><i class="plus icon"></i>Add/Book</a>
      </td>
      <td class="collapsing">{{shortDateDayFirst date}}</td>
      <td>{{assessment.weight}}kg</td>
      <td>{{assessment.chest}}mm</td>
      <td>{{assessment.thigh}}mm</td>
      <td>{{assessment.upperArm}}mm</td>
      <td>{{assessment.waist}}mm</td>
      <td>{{assessment.hips}}mm</td>
      <td>{{assessment.comment}}</td>
      <td><a href="/dashboard/{{../member.id}}/deletegoal/{{goalid}}" class="ui mini red icon button"><i class="trash icon"></i></a></td>
    </tr>
    <script>
      console.log('{{status}}');
      console.log('{{shortDate date}}');
      if("{{status}}" === "achieved") {
        document.getElementById("checkStatus{{goalid}}").className = 'ui teal ribbon label';
        document.getElementById("checkStatus{{goalid}}").innerHTML = '<i class="checkmark icon"></i> Achieved';
      }
      else if ("{{status}}" === "missed"){
        document.getElementById("checkStatus{{goalid}}").className = 'ui red ribbon label';
        document.getElementById("checkStatus{{goalid}}").innerHTML = '<i class="remove icon"></i> Missed';
      }
      else if ("{{status}}" === "pending"){
        document.getElementById("checkStatus{{goalid}}").style.display = "none";
        document.getElementById("pendingStatus{{goalid}}").style.display = "block";
      }
    </script>
  {{/each}}
  </tbody>
</table>
<script>
  if(!{{goallist.length}} > 0){
    document.getElementById('goalListTable').style.display = "none";
  }
</script>
