{{#each classList}}
  <div class="ui equal width padded raised segment grid">
    <div class = "four wide middle aligned image">
      <img class="ui small spaced image" src="{{this.img}}">
    </div>
    <div class = "twelve wide align right column padded">
      <a class="header">{{this.name}}</a>
      <table class="ui celled striped table">
        <thead>
        <tr><th colspan="2">
          Details
        </th>
        </tr></thead>
        <tbody>
        <tr>
          <td class="collapsing">
            Duration
          </td>
          <td>{{this.duration}}</td>
        </tr>
        <tr>
          <td>
            Max Members
          </td>
          <td>{{this.capacity}}</td>
        </tr>
        <tr>
          <td>
            Difficulty
          </td>
          <td>{{this.difficulty}}</td>
        </tr>
        <tr>
          <td>
            Length
          </td>
          <td>{{this.weeks}} weeks</td>
        </tr>
        <tr>
          <td>
            Times
          </td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br>
{{/each}}