<table class = "ui celled table middle aligned segment">
  <thead>
    <tr>
      <th>Date</th>
      <th>Weight</th>
      <th>Chest</th>
      <th>Thigh</th>
      <th class="collapsing">Upper Arm</th>
      <th>Waist</th>
      <th>Hips</th>
      <th>Comments</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each assessments}}
    <tr>
      <td class="collapsing">{{date}}</td>
      <td>{{weight}}kg</td>
      <td>{{chest}}mm</td>
      <td>{{thigh}}mm</td>
      <td>{{upperArm}}mm</td>
      <td>{{waist}}mm</td>
      <td>{{hips}}mm</td>
      <td>{{comment}}</td>
      <td><a href="/dashboard/{{../user.id}}/deleteAssessment/{{id}}" class="ui icon button"><i class="trash icon"></i></a></td>
    </tr>
  {{/each}}
  </tbody>
</table>