<table class="ui table">
  <thead>
  <tr>
    <th>Goal</th>
    <th>Achieve by:</th>
    <th>Status</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  {{#each goallist}}
    <tr>
      <td>
        {{goal}}
      </td>
      <td>
        {{longDateNoTime date}}
      </td>
      <td class="collapsing">
        <div class="ui label" id="checkStatus{{goalid}}"><i class="hourglass full icon"></i> Ongoing</div>
        <div class="ui blue label" id="pendingStatus{{goalid}}" style="float: left;display: none;"><i class="spinner icon"></i> Add/Book Assessment</div>
      </td>
      <td class="collapsing">
        <a href="/dashboard/{{../member.id}}/addbooking" id="bookingRequired{{goalid}}" style="display: none;" class="ui mini blue icon button"><i class = "add to calendar icon"></i></a>
      </td>
      <td>
        <a href="/dashboard/{{../member.id}}/deletegoal/{{goalid}}" style="float:right;" class="ui red icon button"><i class = "trash icon"></i></a>
      </td>
    </tr>
    <script>
      console.log('{{status}}');
      console.log('{{shortDate date}}');
      if("{{status}}" === "achieved") {
        document.getElementById("checkStatus{{goalid}}").className = 'ui green label';
        document.getElementById("checkStatus{{goalid}}").innerHTML = '<i class="checkmark icon"></i> Achieved';
      }
      else if ("{{status}}" === "missed"){
        document.getElementById("checkStatus{{goalid}}").className = 'ui red label';
        document.getElementById("checkStatus{{goalid}}").innerHTML = '<i class="remove icon"></i> Missed';
      }
      else if ("{{status}}" === "pending"){
        document.getElementById("checkStatus{{goalid}}").style.display = "none";
        document.getElementById("pendingStatus{{goalid}}").style.display = "block";
        document.getElementById("bookingRequired{{goalid}}").style.display = "block";
      }

      $('.example .blue.mini.icon.button')
          .popup({
            popup: '.custom.popup',
            on    : 'click'
          })
      ;
    </script>
  {{/each}}
  </tbody>
</table>