<div class="ui card ">
  <div class="image">
      <img src="{{member.img}}">
  </div>
  <div class="content">
    <a class="header">{{member.firstname}} {{member.lastname}}</a>
    <div class="meta">
      <span class="date">Joined in 2017</span>
    </div>
    <table class="ui celled striped table">
  <thead>
    <tr><th colspan="2">
      Details
    </th>
  </tr></thead>
  <tbody>
    <tr>
      <td class="collapsing">
        Email
      </td>
      <td>{{member.email}}</td>
    </tr>
    <tr>
      <td>
        Address
      </td>
      <td>{{member.address}}</td>
    </tr>
    <tr>
      <td>
        Gender
      </td>
      <td>{{member.gender}}</td>
    </tr>
    <tr>
      <td>
        Height
      </td>
      <td>{{member.height}}m</td>
    </tr>
    <tr>
      <td>
        Weight
      </td>
      <td>{{bmi.latestweight}}kg</td>
    </tr>
  </tbody>
</table>
  </div>
</div>