<div class="ui card ">
  <div class="image">
      <img src="{{profilepic}}">
  </div>
  <div class="content">
    <a class="header">{{user.firstName}} {{user.lastName}}</a>
    <div class="meta">
      <span class="date">Joined in 2017</span>
    </div>
    <table class="ui celled striped table">
  <thead>
    <tr><th colspan="2">
      Details
    </th>
  </tr></thead>
  <tbody>
    <tr>
      <td class="collapsing">
        Email
      </td>
      <td>{{user.email}}</td>
    </tr>
    <tr>
      <td>
        Address
      </td>
      <td>{{user.address}}</td>
    </tr>
    <tr>
      <td>
        Gender
      </td>
      <td>{{user.gender}}</td>
    </tr>
    <tr>
      <td>
        Height
      </td>
      <td>{{user.height}}</td>
    </tr>
    <tr>
      <td>
        Weight
      </td>
      <td>{{user.weight}}</td>
    </tr>
  </tbody>
</table>
  </div>
</div>