{{> menu id="dashboard"}}

<section class="ui padded raised segment">
  <header class="ui header">
    Members List
  </header>
  <br>
    <table class="ui padded very basic celled table">
      <thead>
      <tr>
        <th class="fifteen wide" >Members</th>
        <th>Remove?</th>
      </tr>
      </thead>
      <tbody>
      {{#each members}}
        <tr>
          <td>
            <div style="float: left;">
              <i class="large {{toLowerCase gender}} icon"></i>
            </div>
            <a href="/trainerassess/{{members.id}}">{{firstname}} {{lastname}}</a>
            <div class="description" style="color: grey;">{{assessmentSize}} assessments</div>
          </td>
          <td>
            <a href="/trainerboard/deleteMember/{{members.id}}" class="ui mini red icon button" style="float: center;"><i class = "trash outline icon"></i></a>
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>

</section>